<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alirezat775.library.networkmonitor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".view.NetworkMonitorActivity"
            android:launchMode="singleInstance" />
    </application>

</manifest>
