<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alirezat775.networkmonitor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name="alirezat775.lib.networkmonitor.view.NetworkMonitorActivity" />
        <activity android:name="alirezat775.lib.networkmonitor.view.NetworkMonitorDetailActivity" />
    </application>

</manifest>
